body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #8e44ad, #3498db);
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-signup a {
    color: #fff;
    margin-right: 10px;
}

footer {
    background: linear-gradient(to right, #8e44ad, #3498db);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}